*{
margin:0;
padding:0;
	font-family: 'Poppins', sans-serif;
	box-sizing:border-box;
	list-style:none;
	text-decoration:none;
	scroll-behavior:smooth;
	scroll-padding-top:2rem;
}
:root{
	--bg-color:#10101a;
	--main-color:#2fbf71;
	--2nd-main-color:#ffffffcc;
	--text-color:#fff;
	--big-font:5rem;
	--h2-font:1.9rem;
	--p-font:1rem;
}
body{
	background:var(--bg-color);
	color:var(--text-color);
}
.header{
	    position: fixed;
    width: 100%;
	top:0;
	right:0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
	background:var(--bg-color);
	padding:24px 14%;
	transition:.3s;
}
#logo{
	font-size:1.7rem;
	color:var(--text-color);
	font-weight:550;
	cursor:default;
}
 span{
	color:var(--main-color);
}
.navbar{
	display:flex;
}
.navbar a{
	color:var(--text-color);
	font-size:1rem;
	padding:10px 20px;
	font-weight:500;
	transition:0.4s;
}
.navbar a:hover{
		color:var(--main-color);
}
.navbar a#Home{
		color:var(--main-color);
}

.manu{
	width:70px;
	height:70px;
	display:flex;
	align-items:center;
	justify-content:center;
	display:none;
	z-index:11110;
	cursor:pointer;
}
.manu .manue{
	width:100%;
	height:100%;
	display:flex;
flex-direction: column;
	align-items:center;
	justify-content:center;
}
.manu .manue span{
	width:46%;
	height:4px;
	background:#444;
	margin:5px;
	transition:0.4s;
}
.manu .manue span#tow{
	transition-delay:0.5s;
}
.manu .manue span#three{
	transition-delay:1s;
}
.manu .manue:hover span{
	background:var(--main-color);
}
section{
	padding:120px 14%;
}
.home{
	position:relative;
	height:100vh;
	width:100%;
	display:grid;
	grid-template-columns:repeat(2, 1fr);
	grid-top:6rem;
	align-items:center;
}
.home-img img{
	max-width:100%;
	width:500px;
	height:500px;
	border-radius:50%;
		object-fit:cover;
	object-position:center;
	animation:x 5s infinite ease-in-out;
}
@keyframes x{
	
	0%{transform:translateY(0);}
	
	50%{transform:translateY(-24px);}
	100%{transform:translateY(0);}
}
.home-text h5{
	color:var(--text-color);
	font-size:25px;
	font-weight:500;
	margin:0 0 20px;
}
.home-text h1{
	font-size:var(--big-font);
	color:var(--text-color);
	font-weight:700;
	line-height:1;
	margin:0 0 20px;
}
.home-text h6{
	color:var(--text-color);
	font-size:18px;
	font-weight:500;
	margin-bottom:25px;
}
.home-text h6 span{
	color:var(--main-color);
}
.home-text p{
	max-width:470px;
	font-size:var(--p-font);
	font-weight:300;
	line-height:2rem;
	margin-bottom:1.5rem;
	color:var(--2nd-main-color);
}
.btn{
	background:var(--main-color);
	color:var(--text-color);
	box-shadow:4px 4px var(--text-color);
	padding:0 25px;
	line-height:42px;
	display:inline-block;
	border:1px solid transparent;
	font-size:14px;
	font-weight:400;
	letter-spacing:2px;
	transition:ease all 0.35s;
}
.btn:hover{
	background:var(--text-color);
	color:var(--main-color);
	box-shadow:4px 4px var(--main-color);
}
.about {
	display:grid;
	grid-template-columns: repeat(2, 2fr);
	grid-top:5rem;
	align-items:center;
}

.about-img{
	width:auto;
	height:auto;
	position:relative;
	margin-left:-110px;
}

.about-img img{
	max-width:100%;
	width:500px;
	height:500px;
	border-radius:50%;
	animation:x 5s infinite;
}
.about-text h3{
	color:var(--text-color);
	font-size:30px;
	font-weight:300;
	letter-spacing:6px;
	margin:0 0 30px;
}
.about-text h2{
margin-bottom:0.5rem;
	font-weight:500;
	font-size:var(--h2-font);
	line-height:1.2;
	max-width:470px;
	margin-bottom:2rem;
}
.about-text p{
	max-width:570px;
	font-size:var(--p-font);
	font-weight:300;
	margin-bottom:1.5rem;
	line-height:1.8rem;
	color:var(--2nd-main-color);
}
.count{
	margin-bottom:2rem;
}
.about-text .count a{
	color:var(--2nd-main-color);
	margin-right:20px;
	word-spacing:5px;
}
.about-text .count span{
	color:var(--text-color);
	font-size:2.7rem;
	font-weight:600;
}
.main-btn .btn{
	margin-right:20px;
}
.center{
	text-align:center;
}
.center h3{
	color:var(--text-color);
	font-size:30px;
	font-weight:300;
	letter-spacing:6px;
}
.service-content{
	display:grid;
	grid-template-columns:repeat(auto-fit, minmax(350px, auto));
	grid-gap:2rem;
	align-items:center;
	margin-top:4.4rem;
}
.row{
	background:#0b0b13;
	padding:60px 35px;
	border-radius:5px;
	cursor:pointer;
	transition:all 0.40s;
}
.row:hover{
	      transform: translateY(-15px);
          box-shadow: 0px 15px 30px 0px rgb(0 0 0 / 70%);
}
.row i{
	color:var(--main-color);
	font-size:3rem;
	margin-bottom:20px;
}
.row h3{
	font-size:1.25rem;
	font-weight:500;
	margin-bottom:20px;
	color:var(--text-color);
}
.row p{
	font-size:18px;
	color:var(--2nd-main-color);
	line-height: 30px;
}
.skils{
	display:flex;
	width:100%;
	height:100vh;
	align-items:center;
	padding:0;
}
.center-sk{
	position:relative;
	margin-bottom:650px;
margin-left:550px;
}
.skils-logo{
	position:absolute;
font-size:35px;
font-weight:450;
text-align:center;
color:var(--text-color);

}
.content{
	position:relative;
	left:-120px;
	      width: 600px;
    height: 569px;
    display: block;
    align-items: center;
    justify-content: center;
}
.content span{
	position:relative;
	width:100%;
	height:23px;
	margin-top:70px;
	border-radius:10px;
	display:block;
	background:#528368;
}
.content span:first-child:before{
    content: 'HTML';
    color: var(--2nd-main-color);
    position: absolute;
    top: -9px;
    right: 650px;
    font-size: 38px;
}
.content span:first-child:after{
content:'';
position:absolute;
width:100%;
height:100%;
background:var(--main-color);
border-radius:22px;
}
.content span:nth-child(2):before{
content:'Css';
 color: var(--2nd-main-color);
    position: absolute;
    top: -9px;
    right: 650px;
    font-size: 38px;
}
.content span:nth-child(2):after{
content:'';
position:absolute;
width:90%;
height:100%;
background:var(--main-color);
border-radius:22px;
}
.content span:nth-child(3):before{
content:'js';
 color:  var(--2nd-main-color);
    position: absolute;
    top: -9px;
    right: 650px;
    font-size: 38px;
}
.content span:nth-child(3):after{
content:'';
position:absolute;
width:50%;
height:100%;
background:var(--main-color);
border-radius:22px;
}
.content span:last-child:before{
content:'C++';
 color: var(--2nd-main-color);
    position: absolute;
    top: -9px;
    right: 650px;
    font-size: 38px;
}
.content span:last-child:after{
content:'';
position:absolute;
width:30%;
height:100%;
background:var(--main-color);
border-radius:22px;
}

.contect-form{
	display:flex;
	align-items:center;
	justify-content:center;
	margin-top:4.2rem;
}
.contect-form form{
position:relative;
width:550px;
}
form input,
form textarea{
	width:100%;
	padding:20px;
	border:0;
	outline:none;
	background:#0b0b13;
	margin-bottom:20px;
	color:var(--text-color);
	margin-bottom:0.5rem;
	border-radius:5px;
}
form input::placeholder,
form textarea::placeholder{
	color:var(--2nd-main-color);
}
textarea{
	resize:none;
	height:200px;
}
form .send-btn{
background:var(--main-color);
	color:var(--text-color);
	box-shadow:4px 4px var(--text-color);
	padding:0 25px;
	line-height:42px;
	display:inline-block;
	border:1px solid transparent;
	font-size:14px;
	font-weight:400;
	letter-spacing:2px;
	transition:ease all 0.35s;
	cursor:pointer;
}
form .send-btn:hover{
	background:var(--text-color);
	color:var(--main-color);
	box-shadow:4px 4px var(--main-color);
}
.copy{
	text-align:center;
	padding:37px;
	color:var(--2nd-main-color);
	background:#0b0b13;
	margin-top:3rem;
	width:100%;
	line-height:1.8rem;
}
@media (max-width:1020px){
	header{
      padding:25px 3%;
	}
	:root{
			--big-font:3rem;
	--h2-font:1.2rem;
	--p-font:0.9rem;
		
	}
}
@media (max-width:830px){
	
	header{
		padding:18px 3%;
	}
	
	.home-img img{
    max-width: 100%;
    width: 337px;
    height: 316px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    animation: x 5s infinite ease-in-out;
}
	.manu{
		display:block;
	}
	
	.navbar{
		position:absolute;
		top:-500px;
		left:0;
		right:0;
		display:flex;
		flex-direction:column;
		background:#0b0b13;
		box-shadow:0px 15px 30px 0px rgb(0 0 0 / 70%);
		text-align:left;
		transition:0.2s ease;
	}
	.active{
		position:absolute;
		top:0;
		left:0;
		right:0;
		display:flex;
		flex-direction:column;
		background:#0b0b13;
		box-shadow:0px 15px 30px 0px rgb(0 0 0 / 70%);
		text-align:left;
		transition:0.2s ease;
	}
		.navbar a{
			display:block;
			padding:1rem;
			border-left:2px solid var(--main-color);
			margin:1rem;
			display:block;
		}
		.navbar .active{
			top:100%;
		}
}
@media (max-width:360px){
	
	header{
		padding:18px 3%;
	}
	section{
	padding:20px 10px;
	}
	:root{
		--big-font:2rem;
	--h2-font:0.9rem;
	--p-font:0.5rem;
	}
	.home{
position:relative;
top:277px;
width:100%;
height:89vh;
display:flex;
justify-content:center;
align-items:center;
}
.home-text{
	position:absolute;
	left:100px;
	top:100px;
	text-align:center;
}
.home-text h5{
	color:var(--text-color);
	font-size:25px;
	font-weight:500;
	margin:0 0 20px;
}
.home-text h1{
	font-size:var(--big-font);
	color:var(--text-color);
	font-weight:700;
	line-height:1;
	margin:0 0 20px;
}
.home-text h6{
	color:var(--text-color);
	font-size:18px;
	font-weight:500;
	margin-bottom:25px;
}
.home-text h6 span{
	color:var(--main-color);
}
.home-text p{
	max-width:470px;
	font-size:var(--p-font);
	font-weight:300;
	line-height:2rem;
	margin-bottom:1.5rem;
	color:var(--2nd-main-color);
}
	.home-img img{
		display:none;
}
.about {
position:relative;
width:100%;
height:150vh;
display:flex;
justify-content:center;
align-items:center;
    right: -108px;
}
.about-text
{
	text-align:center;
}
.about-text h2{
	    font-size: 28px;
}
.about-text p{
	font-weight:600;
	letter-spacing:3px;
	font-size:17px;
}
.about-img img{
	display:none;
}
.service{
position: relative;
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    top: 601px;
    left: 56px;
    align-items: center;
    right: -3px;
    z-index: 100;
}
.center{
	    position: absolute;
    text-align: center;
    top: -600px;
    left:50px;
    font-size: 10px;
    display: inline;
    z-index: 1000000;
}
.center h3{
	color:var(--text-color);
	font-size:30px;
	font-weight:300;
	display:inline-block;
	letter-spacing:6px;
}
.skils{
	position:relative;
	margin-top:1509px;
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    left: 56px;
    align-items: center;
    right: -3px;
    z-index: 100;
}
.content span{
	position:relative;
	width:100%;
	height:23px;
	margin-top:70px;
	border-radius:10px;
	display:block;
	background:#528368;
}
.content span:first-child:before{
    content: 'HTML';
    color: var(--2nd-main-color);
    position: absolute;
    top: -9px;
    left: -82px;
    font-size: 27px;
}
.content span:first-child:after{
content:'';
position:absolute;
width:100%;
height:100%;
background:var(--main-color);
border-radius:22px;
}
.content span:nth-child(2):before{
    content: 'Css';
    color: var(--2nd-main-color);
    position: absolute;
    top: -9px;
    left: -82px;
    font-size: 36px;
}
.content span:nth-child(2):after{
content:'';
position:absolute;
width:90%;
height:100%;
background:var(--main-color);
border-radius:22px;
}
.content span:nth-child(3):before{
content: 'js';
    color: var(--2nd-main-color);
    position: absolute;
    top: -9px;
    left: -59px;
    font-size: 52px;
}
.content span:nth-child(3):after{
content:'';
position:absolute;
width:50%;
height:100%;
background:var(--main-color);
border-radius:22px;
}
.content span:last-child:before{
content:'C++';
     color: var(--2nd-main-color);
    position: absolute;
    top: -9px;
    left: -82px;
font-size: 38px;
}
.content span:last-child:after{
content:'';
position:absolute;
width:30%;
height:100%;
background:var(--main-color);
border-radius:22px;
}
.skils-text h3{
    position: absolute;
    font-size: 50px;
    font-weight: 450;
    text-align: center;
    color: var(--text-color);
    display: inline;
    bottom: 600px;
    left: 85px;
}

.content{
    margin-left: 33px;
}

.contect{
    position: relative;
    top: -14px;
    left: 51px;
}
.center1 h3{
	top:0;
	left:50px;
	color:var(--text-color);
	font-size:30px;
	font-weight:300;
	letter-spacing:4px;
}

#center{
	    top: 0px;
    left: 27px;
    color: var(--text-color);
    font-size: 30px;
    font-weight: 300;
    letter-spacing: 4px;
    position: relative;
}
.copy{
		position:relative;
	top:0px;	
	width: calc(100% + 100px);
}
.copy p{
	letter-spacing:4px;
	font-size:20px;
}
}